<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" required>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Department</mat-label>
    <mat-select [(ngModel)]="selectedDepartment">
      <mat-option *ngFor="let department of data.departments" [value]="department.name">
        {{ department.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!name || !selectedDepartment">Save</button>
</mat-dialog-actions>
